:root{
    --text-color:black;
    --main-color:red;
    --bg-color:#fff;

}

html::-webkit-scrollbar{
    width: 0.5rem;
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    border-radius: 5rem;
    background: var(--text-color);
}
section{
    padding: 4rem 0 2rem;
}

img{
    width: 100%;
}

body{
    color: var(--text-color);
}

.container{
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}


header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
header.shadow{
    background-color: var(--bg-color);
    box-shadow: 4px 4px 20px rgb(15 54 55 /10%) ;
    transition: 0.5s ease;
}

header.shadow #search_iocn{
    color: var(--text-color);
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}
#menu_iocn{
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    display: none;
}
.logo{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
}
.logo span{
    color:var(--main-color) ;
}
.navbar{
    display: flex;
    column-gap: 2rem;
}
.navbar a{
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar a:hover ,
.navbar.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
#search_iocn{
    font-size: 24px;
    cursor: pointer;
}
.search_box{
    position: absolute;
    top: 110%;
    right: 0;
    left: 0;
    background: var(--bg-color);
    box-shadow: 4px 4px 20px rgb(15, 54, 55/10%);
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
    clip-path: circle(0% at 100% 0%);
}


.search_box.active{
    clip-path: circle(144% at 100% 0%);
    transition: 0.4s;
}
.search_box input{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
}
.home{
    max-width: 1300px;
    /* color: rgb(0, 10, 0); */
    color: aliceblue;
    margin: auto;
    width: 400%;
    min-height: 670px;
    display: flex;
    align-items: center;
    /* background:url() ; */
    background-image: url(https://images.unsplash.com/photo-1600191763736-2c18c79244b8?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fHR1cmJvfGVufDB8fDB8fHww);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
}

.home_text span{
    color: var(--main-color);
}

.home_text p{
    font-size: 0.938rem;
    font-weight: 700;
    margin: 0.5rem 0 1.2rem;
}
.btn{
    padding: 10px 22px;
    background:var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
}
.btn:hover{
    background: #fd052f;

}

.heading{
    text-align: center;
}

.heading span{
    font-weight: 500;
    color: var(--main-color);
}

.heading p{
    font-size: 0.938rem;
    font-weight: 300;
}

.car-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.car-container.box{
    /* display: flex; */
    flex: 1 1 ;
    position: relative;
    height: 200px;
    border-radius: 0.5rem;
    overflow: hidden;
}
 
.car-container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.car-container .box img:hover {
transform: scale(1.1);
transition: 0.5s;
}
.car-container .box h2{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-weight: 400;
    font-size: 1rem;
    background: var(--bg-color);
    /* color: #fd052f; */
    padding: 8px;
    border-radius: 0.5rem;

}
.car-container .box:hover h2 {
    background: var(--main-color);
    color: var(--bg-color);
} 

.New{
    display: flex;
    justify-content: center;
    font-size: 50px;
    background-color: antiquewhite;
}

.about{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
}
.about-img{
    flex: 1 1 21rem;
}
.about-text{
    font-weight: 500;
    color: var(--main-color);
}
.about-text span{
    font-weight: 500;
    color: var(--main-color);
}
.about-text h2{
    font-size: 1.7rem;
}
.about-text p{
    font-size: 0.938rem;
    margin: 0.5rem 0 1.4rem;

}



@media(max-width:1080px){
    .container{
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media(max-width:991px){
    .nav{
        padding:  15px 20px;
    }
    section{
        padding: 3rem 0 1rem;
    }
    .home{
        padding-left: 2rem;
    }
    .home_text h1{

font-size: 2.1rem;
    }
}
